.container {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;

  .operation {
    display: flex;
    min-width: 0;
    min-height: 0;

    .left {
      flex: 1;
      min-width: 0;
      min-height: 0;
    }

    .right {
      text-align: right;
      width: 200px;
      min-width: 0;
      min-height: 0;
    }
  }

  .main {
    height: 100%;
    min-width: 0;
    min-height: 0;
    display: flex;
    flex: 1;

    .left {
      width: 300px;
      height: 100%;

      .tree {
        overflow: auto;
        border: 1px solid #e8eaec;
        margin-right: 10px;
        height: 100%;

        :deep(.el-tree) {
          height: 100%;
          overflow: auto;
        }
      }
    }

    .right {
      min-width: 0;
      min-height: 0;
      display: flex;
      flex-direction: column;
      flex: 1;
      height: 100%;

      .search {
        margin-bottom: 10px;
      }

      .table-main {
        height: 100%;
        display: flex;
        flex-direction: column;

        :deep(.table) {
          min-width: 0;
          min-height: 0;
          width: 100%;
          flex: 1;
        }
      }
    }
  }
}

:deep(.basic-operation) {
  text-align: right;
}


.custom-tabs {
  display: flex;
  margin-bottom: 5px;
  border-bottom: 1.5px solid #e4e7ed;
  background: none;
}

.tab-item {
  padding: 10px;
  font-size: 14px;
  color: #666;
  cursor: pointer;
  position: relative;
  transition: color 0.2s;
  margin: 0 6px;
}

.tab-item.active {
  color: #00706b;
}

.tab-item.active::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 80px;
  height: 3px;
  background: linear-gradient(90deg, #00706b, #00604a);
  border-radius: 2px;
  transform: translateX(-50%);
  transition: width 0.3s;
}

.tips {
  height: 20px;
  line-height: 20px;
  margin-bottom: 5px;
  color: red;
}
