.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  /* 左侧列 */
  .left-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .list-card {
      height: 100%;
      overflow: auto;
      padding: 20px;
    }
  }
  /* 右侧列 */
  .right-column {
    height: 85vh;
  }
}
.pageListCont {
  width: 90%;
  height: 90%;
  margin-top: 10px;
}
.header {
  display: flex;
  .right {
    margin-left: auto;
  }
}
