.role-radio-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.role-radio-group :deep(.el-radio) {
  margin-right: 0;
  padding: 14px;
  border-radius: 4px;
  transition: all 0.3s;
}

.role-radio-group :deep(.el-radio:hover) {
  border-color: var(--color-primary);
  background-color: #F5F7FA;
}

.role-radio-group :deep(.el-radio.is-checked) {
  border-color: var(--color-primary);
  background-color: #ecf5ff;
}

.role-radio-group :deep(.el-radio__label) {
  font-size: 14px;
  color: #606266;
}

:deep(input[aria-hidden='true']) {
  display: none !important;
}

:deep(.el-radio:focus:not(.is-focus):not(:active):not(.is-disabled).el-radio__inner) {
  box-shadow: none;
}
